<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Painel Admin</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<header class="header-container">
    <div class="header-content">
        <div class="store-logo">
            <div class="store-logo-icon">A</div>
            <span class="store-name">Admin</span>
        </div>
        <div class="header-actions">
            <a href="/" class="auth-link">Voltar à loja</a>
            <a href="/logout" class="auth-link">Logout</a>
        </div>
    </div>
</header>

<main class="main-content">
    <section class="admin-section">
        <h1 class="products-title">Painel CRUD</h1>
        <div class="admin-container">
            <div class="table-sidebar">
                <ul>
                    <a th:href="@{/admin/users}">
                        <li th:classappend="${activeTable == 'users'} ? ' active' : ''">
                            <p class="auth-link">Usuários</p>
                        </li>
                    </a>
                    <a th:href="@{/admin/products}">
                        <li th:classappend="${activeTable == 'products'} ? ' active' : ''">
                            <p class="auth-link">Produtos</p>
                        </li>
                    </a>
                </ul>
            </div>

            <div class="table-content">
                <table th:if="${activeTable == 'users'}">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cargo</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.role}"></td>
                        <td>
                            <form th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post" style="display:inline">
                                <button type="submit" class="delete-btn" onclick="return confirm('Tem certeza que quer excluir essa conta?')">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table th:if="${activeTable == 'products'}">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Shipping</th>
                        <th>Available</th>
                        <th>Sold Qty</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.discount}"></td>
                        <td th:text="${product.shippingValue}"></td>
                        <td th:text="${product.availableQuantity}"></td>
                        <td th:text="${product.ammountSold}"></td>
                        <td>
                            <a th:href="@{/admin/products/edit/{id}(id=${product.id})}">
                                <button class="edit-btn" type="button">Edit</button>
                            </a>

                            <form th:action="@{/admin/products/delete/{id}(id=${product.id})}" method="post" style="display:inline">
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table th:if="${activeTable == 'categories'}">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Parent ID</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${categories}">
                        <td th:text="${cat.id}"></td>
                        <td th:text="${cat.name}"></td>
                        <td th:text="${cat.parent} != null ? cat.parent.id : 'None'"></td>
                        <td>
                            <a th:href="@{/admin/categories/edit/{id}(id=${cat.id})}">
                                <button class="edit-btn" type="button">Edit</button>
                            </a>

                            <form th:action="@{/admin/categories/delete/{id}(id=${cat.id})}" method="post" style="display:inline">
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br/>
                <a th:if="${activeTable == 'products'}" th:href="@{/admin/products/new}">
                    <button class="edit-btn" type="button">Adicionar Produto</button>
                </a>
            </div>
        </div>
    </section>
</main>
</body>
</html>
