<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Formulario</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<div class="auth-container">
    <h2 th:if="${user != null and user.id != null}">Edit User</h2>
    <h2 th:unless="${user != null and user.id != null}">New User</h2>

    <form class="auth-form" th:action="@{/save}" th:object="${user}" method="post">
        <input type="hidden" th:if="${user != null and user.id != null}" th:field="*{id}"/>

        <!-- Nome -->
        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-input" type="text" th:field="*{name}" id="name" required/>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input class="form-input" type="email" th:field="*{email}" id="email" required/>
        </div>

        <!-- Idade -->
        <div class="form-group">
            <label class="form-label" for="age">Age</label>
            <input class="form-input" type="number" th:field="*{age}" id="age" min="1" max="120" required/>
        </div>

        <div class="form-buttons">
            <button type="submit" class="save-btn">Save</button>
            <a th:href="@{/userProfile}" class="cancel-btn">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
