<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/auth.css}" />
    <title>Login - Sua Loja</title>
</head>
<body>
<div class="auth-container">
    <div class="auth-header">
        <a href="/">
            <div class="store-logo">
                <div class="store-logo-icon">U</div>
                <div class="store-name">UniWare</div>
            </div>
        </a>
        <h2 class="auth-title">Entre na sua conta</h2>
        <p class="error" th:text="${loginNotFound}" style="color: red;"></p>
    </div>

    <form class="auth-form" action="/login" method="post">
        <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input class="form-input" type="email" name="email" id="email" placeholder="Digite seu email" required>
        </div>

        <div class="form-group">
            <label class="form-label" for="password">Senha</label>
            <input class="form-input" type="password" name="password" id="password" placeholder="Digite sua senha" required>
        </div>

        <button class="submit-btn" type="submit">Entrar</button>
    </form>

    <div class="auth-footer">
        <div class="auth-links">
            <a href="/register" class="auth-link primary-link">Não tem conta? Cadastre-se</a>
        </div>
    </div>
</div>
</body>
</html>