<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Formulario</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<div class="auth-container">

    <div class="auth-header">
        <a href="/">
            <div class="store-logo">
                <div class="store-logo-icon">U</div>
                <div class="store-name">UniWare</div>
            </div>
        </a>
    </div>

    <h2 th:text="${product.id != null} ? 'Edit Product' : 'New Product'"></h2>
    <form class="auth-form" th:action="@{/admin/products/save}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:if="${product.id != null}" th:field="*{id}"/>

        <div class="form-current-image" th:if="${product.id != null AND product.imageFileName != null}">
            <label>Imagem Atual:</label>
            <img th:src="@{/uploads/{filename}(filename=${product.imageFileName})}" alt="Imagem Atual" style="max-width: 200px; display: block; margin-bottom: 10px; border-radius: 4px;"/>
        </div>

        <label for="imageFile">Imagem do Produto</label>
        <input type="file" name="imageFile" id="imageFile" accept="image/png, image/jpeg"/>
        <small th:if="${product.id != null}" style="display: block; margin-bottom: 10px">
            Deixe em branco para manter a imagem atual.
        </small>

        <div class="auth-container">
            <label class="form-label" for="name">Nome (min-20 max-200)</label>
            <input class="form-input" type="text" th:field="*{name}" id="name" required/>
        </div>

        <div class="form-group">
            <label class="form-label" for="price">Preço (min-1 max-100.000)</label>
            <input class="form-input" type="number" th:field="*{price}" step="0.01" id="price" required/>
        </div>

        <div class="form-group"></div>
            <label for="discount">Desconto (min-0% max-100%)</label>
            <input type="number" th:field="*{discount}" id="discount" required/>
        </div>

        <div class="form-group">
            <label for="availableQuantity">Quantidade Disponivel (min-0, max-100.000)</label>
            <input type="number" th:field="*{availableQuantity}" id="availableQuantity" required/>
        </div>
        
        <div class="form-group">
            <label class="form-label" for="ammountSold">Quantidade Vendida (min-0, max-100.000)</label>
            <input class="form-input" type="number" th:field="*{ammountSold}" id="ammountSold" required/>
        </div>

        <div class="form-group">
            <label class="form-label" for="description">Descrição (min-20, max-2.000)</label>
            <textarea class="form-input" th:field="*{description}" id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" th:field="*{category}" id="category" required/>
        </div>

        <div class="form-buttons">
            <button type="submit" class="save-btn">Salvar</button>
            <a th:href="@{/admin/products}" class="cancel-btn">Cancelar</a>
        </div>
    </form>
</div>
</body>
</html>
