<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Deu boa meu nobre! tmj</h1>
    <p>Nome: <span th:text="${user.name}"></span></p>
    <p>Idade: <span th:text="${user.age}"></span></p>
    <p>CPF: <span th:text="${user.cpf}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Endereço: <span th:text="${user.address}"></span></p>
</body>
</html>